{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "Markdown Notes API"
  },
  "servers": [
    {
      "url": "https://api.ow.donmartin76.com/markdown-notes/v1\""
    }
  ],
  "paths": {
    "/users/me": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userType"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The user id to retrieve information for",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userType"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The user id to update information for",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Updated user information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/userType"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userType"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found (cannot update unknown user)"
          }
        }
      }
    },
    "/users/{user_id}/index": {
      "get": {
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The user id to retrieve the notes index for",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/indexType"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/notes/{note_id}": {
      "get": {
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The id of the note to retrieve",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/noteType"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The id of the note to retrieve",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The note to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/noteType"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully saved"
          },
          "400": {
            "description": "Bad request. User needs registration first."
          },
          "403": {
            "description": "Not allowed to store this"
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The id of the note to retrieve",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted, no content"
          },
          "403": {
            "description": "Not allowed"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "userType": {
        "type": "object",
        "properties": {
          "registered": {
            "type": "boolean"
          },
          "external_id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "created_date": {
            "type": "number"
          },
          "updated_date": {
            "type": "number"
          }
        }
      },
      "indexType": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "title": {
              "type": "string"
            }
          }
        }
      },
      "noteType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "markdown": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "created_date": {
            "type": "number"
          },
          "created_by": {
            "type": "string"
          },
          "updated_date": {
            "type": "number"
          },
          "updated_by": {
            "type": "string"
          }
        }
      }
    }
  }
}